<!DOCTYPE html>
<html lang="hr">
    <head>
        <meta charset="UTF-8">
        <title>Registracija</title>
        <link rel="stylesheet" href="/css/mainpage.css">
    </head>
    <body>
        <h1>Registrirajte se!</h1>
        <form id="registerform">
            <label for="name">Ime:</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Lozinka:</label>
            <input type="password" id="password" name="password" required />

            <label for="gender">Spol:</label>
            <select id="gender" name="gender" required>
                <option value="">Odaberi spol</option>
                <option value="male">Muški</option>
                <option value="female">Ženski</option>
            </select>

            <label for="age">Dob:</label>
            <input type="number" id="age" name="age" required />

            <label for="height">Visina (cm):</label>
            <select id="height" name="height" required>
                <option value=""> Odaberite visinu </option>
                <script>
                    for(let i = 100; i<= 250; i++){
                        document.write(`<option value="${i}">${i} cm</option>`);
                    }
                </script>
            </select>

            <label for="weight">Težina (kg):</label>
            <select id="weight" name="weight" required>
                <option value=""> Odaberite težinu </option>
                <script>
                    for(let i = 40; i<= 300; i++){
                        document.write(`<option value="${i}">${i} kg</option>`);
                    }
                </script>
            </select>

            <p id="activityDisclaimer">Ovdje odaberite svoju razinu aktivnosti.</p>
            <p>Bez aktivnosti - Sjedilački stil života. Nema strukturirane fizičke aktivnosti. Uglavnom sjedenje, manje od 3000 koraka dnevno.</p>
            <p>Niska razina aktivnosti - Povremeno kretanje kroz dan (3000 do 5000 koraka), bez vježbanja ili vrlo rijetko.</p>
            <p>Umjerena razina aktivnosti - Uključuje 1 do 3 treninga tjedno i prosječno kretanje (5000 do 10,000 koraka dnevno).</p>
            <p>Visoka razina aktivnosti - Redovita fizička aktivnost (4+ treninga tjedno) i/ili preko 10,000 koraka dnevno.</p>
            <p>Ekstremna razina aktivnosti - Vrlo intenzivan fizički rad ili treninzi 2x dnevno. Velika količina kretanja i napora svakodnevno.</p>

            <label for="activityLevel">Razina aktivnosti:</label>
            <select id="activityLevel" name="activityLevel">
                <option value=""> Odaberi razinu aktivnosti </option>
                <option value="1.2"> Bez aktivnosti </option>
                <option value="1.375"> Niska razina aktivnosti </option>
                <option value="1.55"> Umjerena razina aktivnosti </option>
                <option value="1.725"> Visoka razina aktivnosti </option>
                <option value="1.9"> Ekstremna razina aktivnosti </option>
            </select>

            <label for="medicalConditions" id="medicalLabel">Ovdje možete navesti svoja medicinska stanja, dijagnoze ili tjelesna ograničenja.</label>
            <textArea id="medicalConditions" name="medicalConditions" placeholder="Bolujem od..."></textArea>
            <button type="submit">Registriraj se</button>
        </form>
        <p id="registerMessage" style="font-weight: bold;"></p>
        <script>
            document.getElementById("registerform").addEventListener("submit", async function (e) {
                e.preventDefault();
                const form = e.target;
                const data = {
                    name: form.name.value,
                    email: form.email.value,
                    password: form.password.value,
                    gender: form.gender.value,
                    age: form.age.value,
                    height: form.height.value,
                    weight: form.weight.value,
                    activityLevel: form.activityLevel.value,
                    medicalConditions: form.medicalConditions.value
                };

                try{
                    const response = await fetch("/api/users/register", {
                        method: "POST",
                        headers: { "Content-Type": "application/json"},
                        body: JSON.stringify(data)
                    });

                    const result = await response.json();

                    if(response.ok){
                        alert("Registracija uspješna!");
                        window.location.href = "/"
                    }
                    else{
                        alert(result.error || "Greška prilikom registracije.");
                    }
                } catch (err) {
                    console.error("Greška:", err);
                    alert("Greška kod slanja podataka.");
                }
            });
        </script>
    </body>
</html>